/* ---- base ---- */
html, body {
	width: 100%;
	height: 100%;
	background: firebrick;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
}

/* ---- particles.js container ---- */
#particles-js {
    width: 100%;
    height: 100%;
    background-color: firebrick;
}
